body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(images/bg.webp);
    background-size:cover;
}
h1
{
    color:rgba(128, 128, 128, 0.521)
}
.box
{
    width=300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(0, 0, 0, 0.066);
    text-align:center
}
.box h1
{

    color:rgba(255, 255, 255, 0.293)
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type = text], .box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367
    padding: 14px 10px;
    width: 220px;
    outline : none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;

}
.box input[type = text], .box input[type="password"]: focus{
    width:270px;
    border-color: #ffc400ec;
}

.box input[type="submit"]{
    borer   border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    outline : none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor:pointer;
}
.box input[type="submit"]:hover{
    background: #ff2a00ec;
}
